:root {
  --bgColor: rgb(10, 13, 25);
  --mainBorderColor: #240442;
  --blue:#240f81;
  --linkColor: rgb(217 143 252);
  --linkHover: #df77fe;
  --screaming-green: #6bffdc;
  --teal: #00bcd4;
}

body {
  background-color: rgb(232, 241, 250);
  color: rgb(20, 20, 21);
  background-color: var(--bgColor);
}
.converter {
  /* width: min(80%, max(320px, 100vw)); */
  width: 80%;
  margin: 0 auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea {
  min-height: 50vh;
  padding: 20px 20px;
  box-sizing: border-box;
  border: 1px solid var(--mainBorderColor);
  background-color: #171717;
  font-size: 16px;
  resize: none;
  color: rgb(216, 233, 239);
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px #00000048;
  box-shadow: 5px 5px 15px 5px #00000048;
  overflow-y: auto;
}
.textarea:focus {
  outline: none;
  outline: 1 solid var(--linkColor);

  border-color: var(--linkColor);
  box-shadow: 0 0 3px var(--linkColor);
}
.htmlBox {
  max-height: 20vh;
  font-size: 8px;
  padding: 20px 20px;
  box-sizing: border-box;
  border: 1px solid var(--mainBorderColor);
  background-color: #171717;
  font-size: 16px;
  resize: none;
  color: rgb(38, 67, 31);
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px #00000048;
  box-shadow: 5px 5px 15px 5px #00000048;
  overflow-y: auto;
}

.menu {
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.menu > * {
  color: white;
  list-style: none;
  flex: 1;
  margin: 5px;
  padding-bottom: 15px;
}
.menu > *:hover {
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 5px solid var(--linkColor);
}

.panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .panel {
    flex-direction: column;
  }
  .textarea {
    width: 100%;
  }
  .markdownBox {
    width: 100%;
  }
}

.panel > * {
  flex: 1;
  margin: 5px;
  padding-bottom: 15px;
}

.markdownBox {
  background-color: white;
  min-height: 50vh;
  padding: 20px 20px;
  box-sizing: border-box;
  border: 1px solid var(--mainBorderColor);
  font-size: 16px;
  resize: none;
  color: rgb(19, 19, 19);
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px #00000048;
  box-shadow: 5px 5px 15px 5px #00000048;
  overflow-y: auto;
  max-height: 300px;
}
.markdownBox:hover {
  cursor: not-allowed;
}





/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .panel * {
    scrollbar-width: auto;
    scrollbar-color: #d98ffc #0f152f;
  }

  /* Chrome, Edge, and Safari */
  .panel *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .panel *::-webkit-scrollbar-track {
    background: #0f152f;
  }

  .panel *::-webkit-scrollbar-thumb {
    background-color: #d98ffc;
    border-radius: 20px;
    border: 2px solid #0f152f;
  }

  ::-webkit-scrollbar-track-piece:decrement {
    background-color: #240f81;
  }

  ::-webkit-scrollbar-track-piece:increment {
    background-color: #0f152f;
  }




  .btn-copy {
    background-color: var(--blue);
    border-radius:42px;
    display:inline-block;
    cursor:pointer;
    color:var(--screaming-green);
    font-family:Arial;
    font-size:17px;
    padding:7px 31px;
    text-decoration:none;
  }
  .btn-copy:hover {
    color:#240f81;
    background-color:var(--linkColor);
  }
  .btn-copy:active {
    position:relative;
    top:1px;
  }




  /* HEADER */
  .lead-line {
    padding-top:50px;
    padding-bottom:0px;
    font-size: 3em;
    font-weight: 600;
    background: linear-gradient(170deg, var(--bgColor) 0%, #ffc4f8 20%, #e28aff 50%, var(--bgColor) 110%);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
